# COGS 189: Typing & Attention

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
#read csv 
# p1 = pd.read_csv("")
# p2 = pd.read_csv("")
# p3 = pd.read_csv("")
tester = pd.read_csv(os.getcwd()+"/csv-tester"+"/0"+"/eeg.csv")

In [4]:
tester

         timestamp  raw_value  attention  label
0     1.646086e+09         26         30      1
1     1.646086e+09         28         30      1
2     1.646086e+09         28         30      1
3     1.646086e+09         28         30      1
4     1.646086e+09         26         30      1
...            ...        ...        ...    ...
1650  1.646086e+09          1          8      0
1651  1.646086e+09         10          8      0
1652  1.646086e+09          9          8      0
1653  1.646086e+09         -5          8      0
1654  1.646086e+09        -25          8      0

[1655 rows x 4 columns]

In [2]:
#get attention column from each person

In [ ]:
#combine columns into one numpy array